* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

html {
  font-size: 18px;
}

strong {
  color: hsl(160deg, 100%, 30%)
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 4px solid hsl(0deg, 0%, 40%);
  min-height: 100%;
}


.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  width: 50%;
  padding: 24px;
}

.title {
  margin: 64px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px 0;
  margin-top: 64px;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 32px;
  margin: 0 -32px;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
}